{% extends "layout.html.twig" %}

{% block content %}
	<div class="popup-link">
		<a href="/">
			<img src="/assets/images/logo.svg">
		</a>
		<a class="showQuestion" href="#popup3">Guess the movie</a>
	</div>

	<!--popup3-->

	<div id="popup3" class="popup-container popup-style-3">
		<div class="popup-content showQuestions">
			<a href="#" class="close">&times;</a>
			<ul>
				<form class="form formQuestion" method="post" action="/result">
					<h3 class="logoTitle">The movie is :</h3>

					{% for proposal in proposals %}
						<div class="buttonGuessr">
							<input hidden type="checked" required value={{proposal.movie_tag}} name="answer" id="{{proposal.movie_tag}}">
							<label class="questionGuessr" for="{{proposal.movie_tag}}">{{proposal.movie_name}}</label>
						</div>
					{% endfor %}

					<button class="buttonAnswer">Guess</button>
				</form>
			</div>
		</div>
	</div>
</div>
<iframe class="iframe" src="{{ location.url }}" loading="lazy"></iframe></main>{% endblock %}
